th
{
	border : solid black 1px;
	background-color : black;
	color :white;
	-moz-box-shadow: 0 0 5px #fff;
	-webkit-box-shadow: 0 0 5px #fff;
	box-shadow: 0px 0px 5px #fff;

}

th:hover
{
	background-color : white;
	color : black;

}


td
{
	border : solid black 1px;
	background-color : white;

}


table
{
	background-color : green;
}

body
{
	color: green;
	background-color: black;
	background-image: url('matrix.jpg');
}


.header
{
	margin-top: 0px;
	padding: 20px;
	background-color:rgba(0,0,0,0.7);
}

.login
{
	background-color:rgba(0,0,0,0.7);
	padding-bottom: 600px;
}

.logini
{
	padding-bottom: 600px;
	z-index: 10;
	position: absolute;
	right: 30px;
	top: 0;
}

.Copyright
{
	background-color:rgba(0,0,0,0.7);
	float: right;


}


label
{
width: 6em;
float: left;
text-align: right;
margin-right: 0.5em;
display: block;
background-color:rgba(0,0,0,0.7);

}

h1
{
}

li
{
	display: inline;
	background-color:rgba(0,0,0,0.7);

}

a
{
	color: green;
	text-decoration:none;


}

.table
{
  width: 700px ;
  margin-left: auto ;
  margin-right: auto ;
}


#sidebar{
    width: 200px;
	height: 824px;
    float: right;
    background-color:rgba(0,0,0,0.7);
  
    }
